<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'home' %}">Receipts</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create a Receipt</a>
                </li>
                <li>
                    <a href="{% url 'list_accounts' %}">Accounts</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create an Account</a>
                </li>
                <li>
                    <a href="{% url 'list_expensecategory' %}">Expense Categories</a>
                </li>
                <li>
                    <a href="{% url 'create_expensecategory' %}">Create an Expense Category</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                  <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% block style %}
        {% endblock style %}
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock header %}
        </header>
        <main>
            {% block main %}
            {% endblock main %}
        </main>
        <footer>
            {% block footer %}
            {% endblock footer %}
        </footer>
    </body>
</html>