{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block style %}
{% endblock style %}

{% block header %}
{% endblock header %}

{% block main %}
<div>
    <h1>Signup</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button>Signup</button>
        </div>
    </form>
</div>
{% endblock main %}

{% block footer %}
{% endblock footer %}