{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block style %}
{% endblock style %}

{% block header %}
{% endblock header %}

{% block main %}
<div>
    <h1>Create Account</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
</div>
{% endblock main %}

{% block footer %}
{% endblock footer %}