{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block style %}
{% endblock style %}

{% block header %}
{% endblock header %}

{% block main %}
<h1>My Expenses</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of Receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expensecategory_list %}
        <tr>
            <td>{{ expense.name }}</td>
            <td>{{ expense.receipts|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}

{% block footer %}
{% endblock footer %}